.nav-logo-containers{
    margin: 0;
    z-index: 100;
}


.logo-nav{
    width: 10%;  
}

.logo-nav-icons{
    font-weight: bolder;
    font-size: 1.2rem;
    margin-left: 35%;
    margin-bottom: 15px;
}

.logo-nav-select{
    font-size: 2.5rem;
    margin-left: 10%;
    cursor: pointer;
    font-weight: bolder;
}



.nav-logo-container{
    min-width: 56px;
}
